Repository publicodes/tools, pull requests merged in 2023-08, with the labels that each got.

#14 feat(compilation): explicitly reference origin package in imported rules
  .prettierignore
  .prettierrc.toml
  source/commons.ts
  source/compilation/getModelFromSource.ts
  source/compilation/index.ts
  source/optims/constantFolding.ts
  test/compilation/data/complex-deps-import.publicodes
  test/compilation/data/deps-import.publicodes
  test/compilation/data/doublon-import.publicodes
  test/compilation/data/multiple-deps-import.publicodes
  test/compilation/data/my-external-package.model.json
  test/compilation/data/no-name-import.publicodes
  test/compilation/data/rules-doublon.publicodes
  test/compilation/data/simple-import.publicodes
  test/compilation/data/unknown-import.publicodes
  test/compilation/data/updated-attrs-import.publicodes
  test/compilation/getModelFromSource.test.ts
  test/optims/constantFolding.test.ts
Labels: :sparkles: enhancement, :building_construction: compilation

#18 feat(compilation): import rules in custom namespace
  source/compilation/getModelFromSource.ts
  source/compilation/index.ts
  test/compilation/data/complex-deps-with-namespace-import.publicodes
  test/compilation/data/rules-doublon-with-namespace.publicodes
  test/compilation/getModelFromSource.test.ts
Labels: :sparkles: enhancement, :building_construction: compilation

#19 feat(compilation): expose the resolveImports function
  source/compilation/getModelFromSource.ts
  source/compilation/index.ts
  source/compilation/resolveImports.ts
Labels: :sparkles: enhancement, :building_construction: compilation

#20 fix(compilation): avoid to skip rule to import
  source/compilation/resolveImports.ts
  test/compilation/data/my-external-package.model.json
  test/compilation/data/updated-attrs-from-deps-import.publicodes
  test/compilation/data/updated-attrs-import.publicodes
  test/compilation/getModelFromSource.test.ts
Labels: :bug: bug

#21 Fix(optims): remove duplicated call to `replaceAllRefs`
  source/optims/constantFolding.ts
Labels: :bug: bug, :zap: optims

#22 Perf(optims): improve perfs
  source/optims/constantFolding.ts
Labels: :sparkles: enhancement, :zap: optims
